#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.box-wrapper {
  max-width: 700px;
  
}

.box {
  width: 100px;
  height: 100px;
  margin: 20px;
  font-size: 2rem;
}

.box-locked {
  background-color: green;
}

.btn {
  min-width: 200px;
  height: 100px;
  font-size: 4rem;
  margin: 20px;
  padding: 10px;
}

.roll {
  background-color: red;
}

.submit {
  background-color: green;
}

.header {
  display: flex;
  justify-content: space-between;
}


